/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 15px;
        float: right;
    }

    nav .nav-item form button {
        margin-top: 15px;
        ;
        float: right;
    }

    #header p {
        display: block;
        padding-bottom: 10px;
    }

    #header ul {
        float: left;
        padding: 10px;
    }

    .navbar-light .navbar-brand {
        width: 56%;
    }

    .navbar-light .navbar-toggler {
        color: red;
    }

    #banner .banner-body .banner-content h3 {
        font-size: 28px;
        line-height: 38px;
    }

    #banner .banner-body .banner-content h1 {
        font-size: 37px;
        line-height: 50px;
    }

    #banner .banner-body .banner-content p {
        padding: 10px;
    }

    .contact_us_part .container .contact {
        text-align: center;
    }

    .contact_us_part .container .contact a {
        font-size: 18px;
    }

    #team .tax-body .right {
        height: 280px;
        padding-top: 30px;
    }

    #team .tax-body .right img {
        height: 100%;
        width: auto;
        float: left;
    }

    #team .tax-body {
        padding-right: 15px;
    }

    .service_part .ser_head h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .service_part .ser {
        margin-bottom: 30px;
    }

    .service_part .service-link a {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 28px;
    }

    #customer h2 {
        font-size: 30px;
        line-height: 40px;
    }

    #customer {
        text-align: center;
    }

    #customer .cus-body .cus-img {
        margin-bottom: 30px;
    }

    .contact_us_part .container h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .contact_info {
        padding-bottom: 30px;
    }

    .f_about {
        padding-bottom: 30px;
    }

    .f_file_about {
        padding-bottom: 30px;
    }

    .footer_part .copy_right_part p {
        padding-bottom: 30px;
    }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-light .navbar-toggler {
        color: red;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 15px;
        float: right;
    }

    nav .nav-item form button {
        margin-top: 15px;
        ;
        float: right;
    }

    #header p {
        display: block;
        padding-bottom: 10px;
    }

    #header ul {
        float: left;
        padding: 10px;
    }

    .navbar-light .navbar-brand {
        width: 56%;
    }

    .navbar-light .navbar-toggler {
        color: red;
    }

    #banner .banner-body .banner-content h3 {
        font-size: 28px;
        line-height: 38px;
    }

    #banner .banner-body .banner-content h1 {
        font-size: 37px;
        line-height: 50px;
    }

    #banner .banner-body .banner-content p {
        padding: 10px;
    }

    .contact_us_part .container .contact {
        text-align: center;
    }

    .contact_us_part .container .contact a {
        font-size: 18px;
    }

    #team .tax-body .right {
        height: 280px;
        padding-top: 30px;
    }

    #team .tax-body .right img {
        height: 100%;
        width: auto;
        float: left;
    }

    #team .tax-body {
        padding-right: 15px;
    }

    .service_part .ser_head h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .service_part .ser {
        margin-bottom: 30px;
    }

    .service_part .service-link a {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 28px;
    }

    #customer h2 {
        font-size: 30px;
        line-height: 40px;
    }

    #customer {
        text-align: center;
    }

    #customer .cus-body .cus-img {
        margin-bottom: 30px;
    }

    .contact_us_part .container h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .contact_info {
        padding-bottom: 30px;
    }

    .f_about {
        padding-bottom: 30px;
    }

    .f_file_about {
        padding-bottom: 30px;
    }

    .footer_part .copy_right_part p {
        padding-bottom: 30px;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 15px;
        float: right;
    }

    nav .nav-item form button {
        margin-top: 15px;
        ;
        float: right;
    }

    #banner .banner-body .banner-content h1 {
        font-size: 94px;
    }

    .contact_us_part .container .contact a {
        font-size: 20px;
        line-height: 30px;
    }

    #customer .cus-body .cus-img:before {
        display: none;
    }

    .contact_us_part .container h2 {
        line-height: 50px;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .contact_us_part .container h2 {
        line-height: 50px;
    }

    .navbar-expand-lg {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 20px 10px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
